body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

.container {
    padding: 30px 0 100px;
    background-color: #dbe5ea;
}

.main {
    width: 60%;
    border-radius: 3px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px 0;
}

.head_1 {
    display: flex;
    flex-direction: row;
    padding: 10px 100px 25px;
}

.head_1 span {
    flex: 1;
}

.logo {}

.username {
    text-align: right;
}

.subscribe {
    background-color: #ebf5fa;
    padding: 64px 0;
    text-align: center;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #2020ff;
    margin: 0 auto;
}

.premium {
    background-color: #2020ff;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 15px 100px;
    align-items: baseline;
}

.text {
    font-size: 16px;
}

.sub_btn {
    background-color: #fff;
    color: #2020ff;
}