body {
    margin: 0;
    font-family: Verdana, "Courier New", Courier, monospace;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 30px 0 100px;
    background-color: #dbe5ea;
}

.main {
    width: 60%;
    border-radius: 3px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px 0;
}

.head_1 {
    display: flex;
    flex-direction: row;
    padding: 10px 100px 25px;
}

.head_1 span {
    flex: 1;
}

.logo {}

.username {
    text-align: right;
}

.subscribe {
    background-color: #ebf5fa;
    padding: 64px 0;
    text-align: center;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #2020ff;
    margin: 0 auto;
}

.premium {
    height: 100px;
    background-color: #2020ff;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    align-items: center;
    box-sizing: border-box;
}

.text {
    flex: 2;
    font-size: 14px;
    padding-right: 20px;
    box-sizing: border-box;
}

#small {
    font-size: 12px;
}

.sub_btn {
    cursor: pointer;
    flex: 1;
    font-size: 14px;
    background-color: #fff;
    color: #2020ff;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    font-weight: bolder;
    box-sizing: border-box;
}

.write_up {
    padding: 50px 0;
    border-bottom: 1px solid #dbe5ea;
}

.write_up p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.social_handlers>div {
    padding: 20px 0;
}

.social_media {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.social_m {
    flex: 1;
    text-align: center;
}

.download_btns {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0 auto;
}

.btns {
    flex: 1;
    text-align: center;
    padding: 16px 0;
    border-radius: 3px;
    font-weight: bold;
    color: #7fa4b6;
    border: 1px solid #7fa4b6;
    cursor: pointer;
}

.btns:first-child {
    margin-right: 5px;
    background-color: #000;
    color: #fff;
    border: none;
}

.btns:first-child:hover {
    margin-right: 5px;
    background-color: #fff;
    color: #2020ff;
    border-color: #2020ff;
}

.address {
    text-align: center;
}